.card-header-actions label{
  margin-bottom: 0px;
}

//開発、要件定義時のpopover
.bs-popover-top .arrow::after, .bs-popover-auto[x-placement^="top"] .arrow::after{
  border-top-color: #000000;
}
.bs-popover-bottom .arrow::after, .bs-popover-auto[x-placement^="bottom"] .arrow::after{
  border-bottom-color: #000000;
}
.bs-popover-left .arrow::after, .bs-popover-auto[x-placement^="left"] .arrow::after{
  border-left-color: #000000;
}
.bs-popover-right .arrow::after, .bs-popover-auto[x-placement^="right"] .arrow::after{
  border-right-color: #000000;
}
.fa_deactive {
  color: #23282c;
}
.fa_deactive:hover {
  color: #545b62;
}